<h1>Observation</h1>

<% if observation.reservation %>
  <p>
    Reserved by <%= link_to observation.reservation.user.name, observation.reservation.user %>
    <% if observation.reservation.pending? %>
      (<%= link_to "accept", accept_telescope_reservation_path(telescope, observation.reservation), method: :put %>/<%= link_to "decline", decline_telescope_reservation_path(telescope, observation.reservation), method: :put %>)
    <% end %>
  </p>
<% else %>
  <p>No reservation yet.</p>
<% end %>

  <p>Observation scheduled on <strong><%= time_tag observation.scheduled_on %></strong> with the telescope <%= link_to telescope.name, telescope %>.</p>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Messages</h3>
  </div>
  <div class="panel-body">
    <% if observation.messages.empty? %>
      <p class="text-muted">No messages.</p>
    <% end %>

    <% observation.messages.each do |message| %>
      <p>
        <strong><%= link_to message.user.name, message.user %>:</strong>
        <span class="text-muted" style="float:right"><%= time_tag message.created_at %></span><br>
        <%= message.content %>
      </p>
    <% end %>

    <%= render "messages/form", locals: { observation_id: observation.id } %>
  </div>
</div>

<hr>

<p><%= link_to 'Cancel observation', telescope_observation_path, method: :delete, data: { confirm: 'Are you sure?' } %></p>
