<h1>Reservations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Telescope</th>
      <th>Date</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% reservations.each do |reservation| %>
      <tr>
        <td><%= link_to reservation.telescope.name, reservation.telescope %></td>
        <td><%= reservation.scheduled_on %></td>
        <td><%= reservation.status.capitalize %></td>
        <td><%= link_to 'Show', telescope_reservation_path(reservation.telescope, reservation) %></td>
        <td><%= link_to 'Cancel', telescope_reservation_path(reservation.telescope, reservation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
