<h1>Reservations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Role</th>
      <th>Telescope</th>
      <th>Date</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% reservations.each do |reservation| %>
      <tr>
        <td>
          <% if reservation.observation.telescope.user == current_user %>
            Operator
          <% elsif reservation.observation.reservation.user == current_user %>
            User
          <% end %>
        </td>
        <td><%= link_to reservation.telescope.name, reservation.telescope %></td>
        <td>
          <% if reservation.scheduled_on >= Date.today %>
            <strong><%= reservation.scheduled_on %></strong>
          <% else %>
            <%= reservation.scheduled_on %>
          <% end %>
        </td>
        <td>
          <% if reservation.status == "pending" %>
            <span class="text-danger"><%= reservation.status.capitalize %></span>
          <% else %>
            <%= reservation.status.capitalize %>
          <% end %>
        </td>
        <td><%= link_to 'Show', telescope_reservation_path(reservation.telescope, reservation) %></td>
        <td><%= link_to 'Cancel', telescope_reservation_path(reservation.telescope, reservation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
