<h1>Observations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Role</th>
      <th>Telescope</th>
      <th>Date</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% observations.each do |observation| %>
      <tr>
        <td>
          <% if observation.telescope.user == current_user %>
            Operator
          <% elsif observation.reservation.user == current_user %>
            User
          <% end %>
        </td>
        <td><%= link_to observation.telescope.name, observation.telescope %></td>
        <td>
          <% if observation.scheduled_on >= Date.today %>
            <strong><%= observation.scheduled_on %></strong>
          <% else %>
            <%= observation.scheduled_on %>
          <% end %>
        </td>
        <td>
          <% if observation.status == "pending" %>
            <span class="text-danger"><%= observation.status.capitalize %></span>
          <% else %>
            <%= observation.status.capitalize %>
          <% end %>
        </td>
        <td><%= link_to 'Show', telescope_observation_path(observation.telescope, observation) %></td>
        <td>
          <% if observation.scheduled_on >= Date.today %>
            <%= link_to 'Cancel', telescope_observation_path(observation.telescope, observation), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
