<%= simple_nested_form_for(telescope) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <fieldset>
      <legend>Informations</legend>
      <%= f.input :name, placeholder: "Name of the telescope" %>
      <%= f.input :address, placeholder: "Location of the telescope" %>
      <%= f.input :description, as: :text, placeholder: "Description of the telescope (model, accessories, ...)" %>
    </fieldset>

    <fieldset>
      <legend>Specifications</legend>
      <%= f.input :aperture, placeholder: "0", hint: "(in millimeter)" %>
      <%= f.input :focal_length, placeholder: "0", hint: "(in millimeter)" %>
      <%= f.input :tube_type, placeholder: "Newtonian, Maksutov-Cassegrain, ..." %>
      <%= f.input :mount_type, placeholder: "Altazimuth, Equatorial, ..." %>
      <%= f.input :camera_type, placeholder: "Reflex, Webcam, ..." %>
    </fieldset>

    <fieldset>
      <legend>Observations</legend>
      <div class="form-group">
        <%= f.input :observation_description, label: "Informations", as: :text, placeholder: "Informations about a typical observation (beginning and ending time within a timezone, ...)" %>
        <%= f.fields_for :observations, telescope.observations.gt(scheduled_on: Date.yesterday).asc(:scheduled_on) do |observation_fields| %>
          <div class="row">
            <div class="col-xs-9 col-sm-6">
              <%= observation_fields.input :scheduled_on, wrapper: :vertical_input_group, label: false do %>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <%= observation_fields.input_field :scheduled_on, placeholder: "YYYY-MM-DD", class: "form-control", disabled: observation_fields.object.persisted? %>
              <% end %>
            </div>
            <div class="col-xs-3 col-sm-6">
              <p class="form-control-static"><%= observation_fields.link_to_remove "Remove", data: { confirm: "Are you sure?" } %></p>
            </div>
          </div>
        <% end %>
        <%= f.link_to_add 'Add an upcomming observation', :observations %>
      </div>
    </fieldset>

    <%= f.button :submit %>
  </div>
<% end %>
