<%= simple_nested_form_for(telescope) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description, as: :text %>

    <div class="form-group observations" style="position:relative">
      <%= f.fields_for :observations do |observation_fields| %>
        <% if observation_fields.object.new_record? || observation_fields.object.scheduled_at > Date.today %>
          <%= observation_fields.input :scheduled_at, wrapper: :vertical_input_group, label: "Observation" do %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <%= observation_fields.input_field :scheduled_at, placeholder: "YYYY-MM-DD", class: "form-control" %>
          <% end %>

        <% end %>
      <% end %>
      <%= f.link_to_add 'Add an upcomming observation', :observations %>
    </div>
    <%= f.button :submit %>
  </div>
<% end %>
