<%= simple_nested_form_for(telescope) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.input :name %>
    <%= f.input :description, as: :text %>

    <div class="form-group" style="position:relative">
      <%= f.fields_for :observations do |observation_fields| %>
        <% if (observation_fields.object.scheduled_at || Date.today) > Date.today %>
          <%= observation_fields.input :scheduled_at, as: :date, html5: true, label: "Observation" %>
        <% end %>
      <% end %>
      <%= f.link_to_add 'Add an upcomming observation', :observations %>
    </div>
    <%= f.button :submit %>
  </div>
<% end %>
