<h1>Reservation</h1>
<p id="notice"><%= notice %></p>

<p>You have successfully booked the telescope <%= link_to telescope.name, telescope %> for <%= reservation.scheduled_at.to_formatted_s(:long) %>.</p>

<hr>

<%= link_to 'Edit', edit_telescope_reservation_path %>
<%= link_to 'Back', telescope_reservations_path %>
