<!DOCTYPE html>
<html>
<head>
  <title>TelescopeSharing</title>
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield :page_name %>">
  <%= render "layouts/navbar" %>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}" %>
    <% end %>

    <%= yield %>

    <hr>
  </div>
</body>
</html>
